.card-style {
    width: 300px;    
    background-color: rgb(81, 67, 67);
    opacity: .9;
    /* padding: 50px auto; */
    font-size: 16px;
    border: 1px solid rgb(145, 137, 137);
    border-radius: 20px;
}

h3{
    font-size: 18px;
    padding-top: 5px;
}

.image {
    padding-top: 20px;
    
    /* Este es una work-around por que no se ve el borde derecho. */
    padding-right: 2px;
}